/*---Color Codes
$green: #AAFAC8:
$seafoam: #C7FFED;
$grey: #BBC8CA;
$light-purple: #B592A0;
$dark-purple: #9C7178;
---*/


/*---Generic Css---*/
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #3c4859;
}



/*---Default Css---*/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

